.users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  /* background-color: #c094f0; */
  background-color: #f6a731;
  max-width: 1000px;
  margin: 1em auto;
  width: 90%;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.userDetail h1 {
  font-family: "MickKelly Regular";
  color: white;
  font-weight: 500;
  font-size: 1rem;
}
.userDetail p {
  font-family: "Montserrat";
  font-weight: 500;
  color: white;
  font-size: 0.8rem;
}
.userImage {
  max-width: 50px;
}
.userImage img {
  width: 100%;
}
.userDetail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logOut {
  width: 100%;
  max-width: 100px;
  font-family: "Montserrat";
  background-color: #613dc1;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.expenseForm
{
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width:924px) {
  .expenseForm
  {
    flex-direction: column;
  }
  
}