.container {
  padding: 0.5em;
  background-color: #E54B4B;
  border-radius: 12px;
}
.form label {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.form input {
  margin: 0.4em auto 0;
  padding: 0.2em;
  width: 100%;
  border: 1px solid rgba(204, 193, 193, 0.788);
}
.btn {
  width: 100%;
  max-width: 350px;
  margin: auto;
}
.btn button {
  width: 100%;
  background-color: #613dc1;
  font-family: 'Montserrat';
  font-weight: 600;
}
